[mysqld]
datadir=/data/mysql
bind-address=0.0.0.0

# WordPress recommended settings
character-set-server = utf8mb4
collation-server     = utf8mb4_unicode_ci

# HAOS-friendly memory usage
innodb_buffer_pool_size = 128M
innodb_log_file_size    = 64M

# Allow larger imports
max_allowed_packet = 64M

[client]
default-character-set = utf8mb4
